<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <head>
        <meta charset="UTF-8" />
    </head>

    <body>
        <header th:replace="layouts/header :: headerFragment"></header>

        <section layout:fragment="content">
            <div>내용</div>
        </section>

        <footer th:replace="layouts/footer :: footerFragment"></footer>

        <script src="http://code.jquery.com/jquery-latest.js"></script>
        <script layout:fragment="javascript" type="text/javascript"></script>
    </body>
</html>
