<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout.html}">

    <head>
        <title>detail</title>
    </head>

    <body>
        <section layout:fragment="content">
            <span th:text="${post.title}">title</span>
            <span th:text="${post.subTitle}">detail</span>
            <span th:text="${post.body}">detail</span>
            <form method="POST" th:action="@{/posts/{id}(id=${post.id})}">
                <input type="hidden" name="_method" value="DELETE"/>
                <button type="submit">삭제</button>
            </form>

        </section>
    </body>

</html>